@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Regular.ttf');
    font-weight: 400
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Medium.ttf');
    font-weight: 500
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Bold.ttf');
    font-weight: 700
}

@theme {
    /*SCREENS*/
    --breakpoint-mobile: 23.4375rem;
    --breakpoint-mobileLarge: 26.5625rem;
    --breakpoint-tablet: 48rem;
    --breakpoint-desktop: 90rem;

    /*TYPOGRAPHY*/

    /*font-family*/
    --font-inter: 'Inter', sans-serif;

    /*font-weight*/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*font-size*/
    --text-12: 0.75rem;
    --text-14: 0.875rem;
    --text-16: 1rem;
    --text-18: 1.125rem;
    --text-20: 1.25rem;
    --text-24: 1.5rem;
    --text-32: 2rem;
    --text-40: 2.5rem;
    --text-48: 3rem;

    /*line-height*/
    --leading-12: 1rem;
    --leading-14: 1.25rem;
    --leading-16: 1.5rem;
    --leading-18: 1.75rem;
    --leading-20: 1.75rem;
    --leading-24: 2rem;
    --leading-32: 2.5rem;
    --leading-40: 3rem;
    --leading-48: 3.5rem;

    /*letter-spacing*/
    --tracking-negative-25: -0.0156rem;
    --tracking-negative-19: -0.0119rem;
    --tracking-negative-17: -0.0106rem;
    --tracking-5: 0.0313rem;
    --tracking-10: 0.0625rem;
    --tracking-25: 0.1563rem;

    --gradient-body:
        radial-gradient(60% 60% at 50% -10%, hsla(240, 60%, 75%, 0.7), transparent), radial-gradient(40% 40% at 80% 10%, hsla(180, 70%, 80%, 0.5), transparent);
}

@layer base {
    body {
        height: 100vh;
        font-family: var(--font-inter);
        background: var(--gradient-body);
        background-blend-mode: normal;
    }
}

@layer components {
    .text-regular {
        @apply font-regular text-14 leading-14 tracking-negative-17 tablet:text-18 tablet:leading-18 tablet:tracking-negative-25;
    }

    .text-medium {
        @apply font-medium text-14 leading-14 tracking-negative-17 tablet:text-18 tablet:leading-18 tablet:tracking-negative-25;
    }

    .text-semibold {
        @apply font-semibold text-16 leading-16 tracking-negative-17 tablet:text-20 tablet:leading-20 tablet:tracking-5;
    }

    .text-bold {
        @apply font-bold text-20 leading-20 tracking-5 tablet:text-40 tablet:leading-40 tablet:tracking-10;
    }
}